body {
	background: #000;
}

#playground {
	background: url('http://i47.tinypic.com/1zmh0qq.png');
	background-size: 60px;
	overflow: hidden;
	position: fixed;
	left: calc(50% - 512px);
	top: calc(50% - 300px);
}

[data-zelda=true] {
background-image:url(images/zelda.png);
width:32px;
height:32px;
display:block;
background-repeat: no-repeat;
position:absolute;
z-index: 3;

}

#myself {
	z-index: 9;
}

#myself[data-pos="Bas"] {
	z-index: 3;
}

#choice-color {
	z-index: 10;
	color: white;
	text-align: center;
	padding-top: calc(25% - 50px);
	box-sizing: border-box;
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgba(0,0,0,0.9);
}

#choice-color h2,
#choice-color button {
	text-transform: uppercase;
	font-weight: 100;
	font-family: "Raleway";
	font-size: 20px;
}

#choice-color button {
	background: transparent;
	color: white;
	font-size: 13px;
	border: solid 1px rgba(255,255,255,0.5);
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

#choice-color button:hover {
	background: white;
	color: black;
}

#choice-color form {
	height: 100px;
	text-align: center;
}

#navigation{
	position:fixed;
	top:20px;
	right:20px;
	width:90px;
	height:90px;
}

#lave {
	background: red;
	position: absolute;
	background: url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10979477_10204532552368790_569285156_n.jpg?oh=9402ba2c1832b5df7bc6ff9d492e33d2&oe=54D72FFE&__gda__=1423386634_e55b6b64191153b2cadc622a23bff034");
	background-size: 40px;
}

#pave{
	position:relative;
}

.left{
	background: url(images/boutons.png)  30px 30px;
	width:30px;
	height:30px;
	position:absolute;
	top:30px;
	left:0px;
}

.arrow {
	position: absolute;
	z-index: 3;
	transition-duration: 5s;
	width: 20px;
	height: 16px;
	background: url(images/arrow.png) 20px 16px;
	-webkit-animation: arrow 7s linear;
}

.arrow[data-arrow="Gauche"] {
	transform: rotate(180deg);
}

.arrow[data-arrow="Bas"] {
	transform: rotate(90deg);
}

.arrow[data-arrow="Haut"] {
	transform: rotate(-90deg);
}

.right{
	background: url(images/boutons.png) 30px 0px;
	width:30px;
	height:30px;
	position:absolute;
	top:30px;
	right:0px;
}

.top{
	background: url(images/boutons.png) 0 0;
	width:30px;
	height:30px;
	position:absolute;
	top:0px;
	left:30px;
}

.bottom{
	background: url(images/boutons.png) 0 30px;
	width:30px;
	height:30px;
	position:absolute;
	top:60px;
	left:30px;
}

.dirBas1{
	background-position: 0px 0px;
}
.dirBas2{
	background-position: -32px 0px;
}
.dirBas3{
	background-position: -64px 0px;
}
.dirBas4{
	background-position: -96px 0px;
}
.dirBas5{
	background-position: -128px 0px;
}
.dirBas6{
	background-position: -160px 0px;
}


.dirGauche1{
	background-position: 0px -33px;
}
.dirGauche2{
	background-position: -32px -33px;
}
.dirGauche3{
	background-position: -64px -33px;
}
.dirGauche4{
	background-position: -96px -33px;
}
.dirGauche5{
	background-position: -128px -33px;
}
.dirGauche6{
	background-position: -160px -33px;
}

.dirDroite1{
	background-position: 0px -64px;
}
.dirDroite2{
	background-position: -32px -64px;
}
.dirDroite3{
	background-position: -64px -64px;
}
.dirDroite4{
	background-position: -96px -64px;
}
.dirDroite5{
	background-position: -128px -64px;
}
.dirDroite6{
	background-position: -160px -64px;
}

.dirHaut1{
	background-position: 0px -96px;
}
.dirHaut2{
	background-position: -32px -96px;
}
.dirHaut3{
	background-position: -64px -96px;
}
.dirHaut4{
	background-position: -96px -96px;
}
.dirHaut5{
	background-position: -128px -96px;
}
.dirHaut6{
	background-position: -160px -96px;
}


/** RED **/
[data-lava="true"].dirHaut4{
	background-position: -352px -96px !important;
}
[data-lava="true"].dirHaut5{
	background-position: -320px -96px !important;
}
[data-lava="true"].dirHaut6{
	background-position: -288px -96px !important;
}

[data-lava="true"].dirDroite4{
	background-position: -352px -64px !important;
}
[data-lava="true"].dirDroite5{
	background-position: -320px -64px !important;
}
[data-lava="true"].dirDroite6{
	background-position: -288px -64px !important;
}


[data-lava="true"].dirGauche4{
	background-position: -352px -33px !important;
}
[data-lava="true"].dirGauche5{
	background-position: -320px -33px !important;
}
[data-lava="true"].dirGauche6{
	background-position: -288px -33px !important;
}

[data-lava="true"].dirBas4{
	background-position: -352px 0px !important;
}
[data-lava="true"].dirBas5{
	background-position: -320px 0px !important;
}
[data-lava="true"].dirBas6{
	background-position: -288px 0px !important;
}



/** BLUE **/
[data-color="blue"].dirHaut4{
	background-position: -100px -225px;
}
[data-color="blue"].dirHaut5{
	background-position: -129px -225px;
}
[data-color="blue"].dirHaut6{
	background-position: -164px -225px;
}

[data-color="blue"].dirDroite4{
	background-position: -96px -193px;
}
[data-color="blue"].dirDroite5{
	background-position: -127px -193px;
}
[data-color="blue"].dirDroite6{
	background-position: -160px -193px;
}


[data-color="blue"].dirGauche4{
	background-position: -99px -161px;
}
[data-color="blue"].dirGauche5{
	background-position: -129px -161px;
}
[data-color="blue"].dirGauche6{
	background-position: -163px -161px;
}

[data-color="blue"].dirBas4{
	background-position: -99px -129px;
}
[data-color="blue"].dirBas5{
	background-position: -129px -129px;
}
[data-color="blue"].dirBas6{
	background-position: -163px -129px;
}
